* {
    margin: 0px;
    padding: 0px;
}
.container {
    height: 100vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color:grey;
}

.progressbar-container {
    width: 200px;
    height:30px;
    margin: 30px;
    background-color: grey;
    padding: 10px;
}
.progressbar {
    height: 100%;
    width: 0%;
    background-color: yellow;
}

button {
    padding:15px;
    border: 1px solid grey;
    color:grey;
    background-color: whitesmoke;
    border-radius: 20px;
}